<html>
<body>
    <div class="dashlet">
    <h3 class="title">${msg("text.title")}</h3>
        <table>
            
                <tr>
                    <td>
                        <p> ${folder}</p>
                    </td>
                </tr>
            
        </table>
    </div>
</body>
</html>